#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* custome code for the checkbox after removing the default styling. */

.checkBox{
  appearance: none;
  border: 2px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

.checkBox:checked::after{
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  width: 8px; 
  height: 15px; 
  border: solid black; 
  border-width: 0 3px 3px 0; 
  transform: rotate(45deg); 
  transform-origin: center;
  margin-top: -9px; 
  margin-left: -4px; 
}

.checkBox:checked {
  background-color: white; 
  border: 2px solid black; 
}

.selected-indicator {
  position: absolute;
  top: 0.5rem; 
  right: 0.5rem; 
  width: 1rem; 
  height: 1rem; 
}

.selected-indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem; 
  height: 0.75rem; 
  border: solid black;
  border-width: 0 0.15rem 0.15rem 0;
  transform: rotate(45deg);
  transform-origin: center;
  margin-top: -0.4rem; 
  margin-left: -0.25rem; 
}

.selected-indicator .circle {
  width: 1rem; 
  height: 1rem; 
  background-color: #facc15; 
  border-radius: 50%;
}

.selected-indicator-dotted {
  position: relative;
  top: 1rem; 
  right: 1rem; 
  width: 1rem; 
  height: 1rem; 
}

.selected-indicator-dotted::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem; 
  height: 0.15rem; 
  background-color: black; 
  transform: translate(-50%, -50%); 
}
.selected-indicator-dotted .dotted-circle {
  width: 1rem; 
  height: 1rem; 
  background-color: #c2c1bc; 
  border-radius: 50%;
}