#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* custome code for the checkbox after removing the default styling. */

.checkBox{
  appearance: none;
  border: 2px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}

.checkBox:checked::after{
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%;
  width: 8px; 
  height: 15px; 
  border: solid black; 
  border-width: 0 3px 3px 0; 
  transform: rotate(45deg); 
  transform-origin: center;
  margin-top: -9px; 
  margin-left: -4px; 
}

.checkBox:checked {
  background-color: white; 
  border: 2px solid black; 
}